---
import PostList from '@/components/PostList'
import dayjs from 'dayjs'
import Basic from '@/layouts/Basic.astro'
import { Frontmatter } from '@/common/types'
import { DESCRIPTION, TITLE } from '@/common/constants'

const canonicalURL = Astro.canonicalURL
const posts = await Astro.glob<Frontmatter>('./**/*.md')
const sortedPosts = posts.sort((p1, p2) => {
  return dayjs(p2.frontmatter.createdAt).unix() - dayjs(p1.frontmatter.createdAt).unix()
})
---

<Basic {canonicalURL}>
  <div class="home">
    <div class="container">
      <div class="links">
        <a href="https://github.com/Gu-Miao/blog" target="_blank">Github</a>
        <a href="/rss.xml" target="_blank">RSS</a>
      </div>
      <h1 class="title">{TITLE}</h1>
      <h2 class="description">{DESCRIPTION}</h2>
      <PostList client:idle posts={sortedPosts} />
    </div>
  </div>
</Basic>

<style lang="less">
  .home {
    padding: 2em;
    background-color: #eee;
    .container {
      position: relative;
      max-width: 960px;
      margin: 0 auto;
    }
    .links {
      position: absolute;
      top: 1em;
      right: 1em;
      a {
        margin-right: 0.5em;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .title {
      font-family: '楷体';
      font-size: 2.5em;
    }
    .description {
      margin-top: -1.4em;
      font-family: '楷体';
      font-size: 1.2em;
      font-weight: bold;
      color: #666;
    }
  }
</style>
