---
import Basic from '@/layouts/Basic.astro'
import PostList from '@/components/PostList'
import ExLink from '@/components/ExLink.astro'
import dayjs from 'dayjs'
import { Frontmatter } from '@/common/types'
import { DESCRIPTION, TITLE } from '@/common/constants'

const isDev = import.meta.env.DEV
const canonicalURL = Astro.url
const posts = await Astro.glob<Frontmatter>('./**/*.md')
const nonDraftPosts = posts.filter(post => isDev || !post.frontmatter.draft)
const sortedPosts = nonDraftPosts.sort(
  (p1, p2) => dayjs(p2.frontmatter.updatedAt).unix() - dayjs(p1.frontmatter.updatedAt).unix(),
)
---

<Basic {canonicalURL}>
  <div class="home">
    <div class="container">
      <div class="links">
        <a href="https://github.com/Gu-Miao/blog" target="_blank">Github</a>
        <a href="/rss.xml" target="_blank">RSS</a>
      </div>
      <h1 class="title">{TITLE}</h1>
      <h2 class="description">{DESCRIPTION}</h2>
      <PostList client:idle posts={sortedPosts} />
      <div class="footer"><ExLink href="https://beian.miit.gov.cn/" >冀ICP备20018224号-1</ExLink></div>
    </div>
  </div>
</Basic>

<style lang="less">
  .home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
    height: 100vh;
    overflow: auto;
    background-color: #efefef;
    @media screen and (min-width: 1100px) {
      & {
        justify-content: flex-start;
        background-image: url(/images/background.webp);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .container {
      position: relative;
      max-width: 48em;
      @media screen and (min-width: 1100px) {
        & {
          padding: 2em;
          border-radius: 0.5em;
          background: rgba(255, 255, 255, 0.75);
          box-shadow: 0 0 1em rgba(255, 255, 255, 0.4);
        }
      }
    }
    .links {
      position: absolute;
      top: 2em;
      right: 2em;
      a {
        margin-right: 0.5em;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .title {
      font-family: '楷体';
      font-size: 2.5em;
      margin-top: 0;
    }
    .description {
      margin-top: -1.4em;
      font-family: '楷体';
      font-size: 1.2em;
      font-weight: bold;
      color: #666;
    }
    .footer {
      color: #666;
      font-size: 0.85em;
    }
  }
</style>
