---
import { LANGUAGE } from '@/common/constants'
import Head, { HeadProps } from '@/components/Head.astro'

const props = Astro.props as HeadProps
---

<html lang={LANGUAGE}>
  <Head {...props}>
    <slot name="head" />
  </Head>
  <style is:global lang="less">
    @media screen and (min-width: 720px) {
      @size: 8px;
      ::-webkit-scrollbar {
        width: @size;
        height: @size;
      }
      ::-webkit-scrollbar-track {
        border-radius: @size;
        background: #eee;
      }
      ::-webkit-scrollbar-thumb {
        border-radius: @size;
        background: #bbb;
      }
    }
    :root {
      font-size: 20px;
      line-height: 1.67;
      @media screen and (max-width: 720px) {
        & {
          font-size: 15px;
        }
      }
    }
    * {
      box-sizing: border-box;
    }
    body {
      margin: 0;
    }
  </style>
  <body>
    <slot />
  </body>
</html>
