---
import Basic from './Basic.astro'
import { Frontmatter } from '@/common/types'

interface Props {
  content: Frontmatter
}

const { content } = Astro.props as Props
const canonicalURL = Astro.canonicalURL
---

<Basic {canonicalURL} {...content}>
  <div class="blog">
    <div class="container">
      <slot />
    </div>
  </div>
</Basic>
<style is:global lang="less">
  .blog {
    height: 100vh;
    overflow-y: auto;
    padding: 1.5em;
    background-color: #ddd;
    .container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 1.5em;
      line-height: 1.57;
      background-color: white;
      border-radius: 0.5em;
    }
    @media screen and (max-width: 720px) {
      & {
        padding: 0;
      }
      .container {
        margin: 0;
        border-radius: 0;
      }
    }
    ul,
    ol {
      padding-left: 1.25em;
    }
    pre {
      padding: 1.2em 1em;
      border-radius: 0.5em;
      &::-webkit-scrollbar-track {
        margin: 0 1.2em;
        background: inherit;
      }
    }
    blockquote {
      margin-left: 0;
      margin-right: 0;
      padding: 0.5em 1em;
      background-color: #ddd;
      border-radius: 0.5em;
    }
    :not(pre) > code {
      background-color: #eee;
      padding: 0.3em 0.5em;
      border-radius: 0.3em;
    }
    summary {
      background-color: #eee;
      padding: 0.3em 0.8em;
      border-radius: 0.5em;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: #ddd;
      }
    }
  }
</style>
